.container-profile {
  background-color: #eff6f2;
  padding: 35px 60px;
}

.user-profile {
  display: flex;
  gap: 40px;
  background-color: white;
  padding: 20px 60px 45px 60px;
  border-radius: 30px;
}

.usersocial-profile {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.img-profile-dev{
  max-width: 200px;
}
.usermedias-profile {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.redsocial-profile {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 10px;
}

.redsocial-profile p {
  color: black;
  font-weight: bold;
}

.userabout-profile {
  display: flex;
  flex-direction: column;
}

.userjob-profile {
  color: #5c5c5c;
  font-weight: bold;
  font-size: 2rem;
  padding: 10px 0;
}

.username-profile {
  color: black;
  font-weight: bold;
  font-size: 3.2rem;
  padding: 5px 0;
}

.usertextabout-profile {
  color: rgb(69, 69, 69);
  font-size: 1.3rem;
  padding: 20px 0;
}

.userskills-profile {
  color: black;
  font-weight: bold;
  font-size: 2rem;
  padding: 10px 0;
}

@media (min-width: 520px) and (max-width: 750px){
  .user-profile{
    flex-direction: column;
    gap: 10px;
    padding: 10px 30px 25px 30px;
  }
  .usersocial-profile{
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
  }
  .container-profile{
    padding: 20px 40px;
  }
}

@media (min-width: 320px) and (max-width: 519px){
  .user-profile{
    flex-direction: column;
    gap: 10px;
    padding: 10px 30px 25px 30px;
  }
  .img-profile-dev{
    max-width: 150px;
  }
  .userjob-profile {
    font-size: 14px;
  }
  .username-profile{
    font-size: 16px;
  }
  .userjob-profile{
    padding: 0;
  }
  .usertextabout-profile{
    font-size: 12px;
    padding: 0;
  }
}
