.container-employ {
  background-color: #ececec;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 80px 0 80px 0;
}
.main-employ {
  display: flex;
  justify-content: center;
  align-items: center;
}
.cont-text-search{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.title-employ {
  font-size: 45px;
  font-weight: bold;
  color: #1f2131;
  max-width: 600px;
  padding: 20px 20px 20px 20px;
}
.maletin-employ {
  filter: drop-shadow(2px 15px 23px rgba(0, 0, 0, 0.75));
}
.vista-employ-columns{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
.const-title-search{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.search-employ {
  color: black;
  background-color: white;
  padding: 10px 20px;
  border-radius: 50px;
  font-size: 28px;
  box-shadow: 1px 2px 25px 1px rgba(0, 0, 0, 0.75);
}
.container-checkboxes {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.label-checkbox {
  color: #1f2131;
  cursor: pointer;
}
input[type="checkbox"] {
  border: none;
  border-radius: 30px;
  cursor: pointer;
  margin-right: 5px;
}
.cont-all-employs{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 25px;
}
.vista-employ {
  background-color: white;
  padding: 10px 20px 40px 20px;
  border-radius: 30px;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.75);
}
.title-vista-employ {
  color: black;
  font-size: 32px;
  font-weight: bold;
}
.team-vista-employ {
  color: #5f4bdb;
  font-size: 22px;
}

.salary-employ,
.location-employ {
  display: flex;
  justify-content: center;
  align-items: center;
}

.salary-vista-employ,
.locat-vista-employ {
  color: #2e2e2e;
  font-size: 20px;
  font-weight: bold;
  margin-left: 10px;
}

.paysalary-vista-employ,
.type-vista-employ {
  color: #8a8a8a;
  font-size: 18px;
  margin-left: 10px;
}

.btndetail-vista-emloy {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0eeff;
  color: black;
  font-size: 17px;
  font-weight: bold;
  padding: 10px 25px;
  border-radius: 60px;
  transition: all 0.3s ease;
  background-color: #f0eeff;
  color: black;
  font-weight: bold;
}

.btnaplly-vista-employ {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0eeff;
  color: #4466fb;
  font-size: 17px;
  font-weight: bold;
  padding: 10px 25px;
  border-radius: 60px;
  transition: all 0.3s ease;
}

.btndetail-vista-emloy:hover,
.btnaplly-vista-employ:hover {
  transform: scale(1.1);
}

.navigation-employ {
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 30px;
}

.btn-nav-employ {
  background-color: white;
  color: #4466fb;
  padding: 10px 20px;
  border-radius: 60px;
  transition: all 0.3s ease;
}

.btn-nav-employ:hover {
  transform: scale(1.1);
}

.nav-num-employ {
  padding: 15px 0px;
  background: rgba(92, 140, 227, 0.29);
  border-radius: 60px;
  backdrop-filter: blur(10px);
}

.nav-num-employ span {
  padding: 15px 25px;
  color: #4466fb;

}

.nav-num-employ span:first-child {
  background-color: #4466fb;
  border-radius: 60px;
  color: white;
}

@media (min-width: 320px) and (max-width: 1024px){
  .container-checkboxes{
    flex-direction: column;
  }
  .maletin-employ{
    display: none;
  }
  .search-employ{
    width: 280px;
  }
  .vista-employ-columns{
    flex-direction: column;
  }
  .vista-employ{
    max-width: 450px;
  }
}
@media (min-width: 320px) and (max-width: 520px){
  .btn-nav-employ{
    display: none;
  }
  .icon-cash-local{
    display: none;
  }
  .vista-employ-columns{
    text-align: center;
    gap: 10px;
  }
  .title-vista-employ{
    font-size: 24px;
  }
  .vista-employ{
    width: 80vw;
  }
}