#jobdescriptio-container{
}

#applynow-btn {
    height: 3rem;
    width: 8rem;
}

#heart-icon {
    width: 3rem;
}

#money-bag-icon {
    width: 3rem;    
}

#compass-icon {
    width: 3rem;    
}
#location-icon{
    width: 3rem;

}